header {
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    margin: 0;
    position: relative;
    z-index: 1000;
}

header h1 {
    font-family: "Shrikhand", cursive;
    text-align: center;
    margin: 0;
}