@use "../utils/box-shadow";
@use "../utils/zoom";

.tuto {
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        @media (max-width: 800px) {
            flex-direction: column;
        }
    }
    & li {
        background-color: #f6f6f6;
        padding: 16px 32px;
        border: 1px solid red;
        flex-grow: 1;
        border-radius: 20px;
        @include box-shadow.base-shadow;
        &:hover {
            @include zoom.transform-zoom;
        }
    }
}

