@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  position: relative;
  padding: 0 24px;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 100px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  margin: 0;
  position: relative;
}

header h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #f3f3f3;
  font-size: 15px;
}
.city i {
  font-size: 22px;
}

.explorer {
  text-align: center;
  background-color: #fafafa;
  padding: 30px;
}
.explorer h2 {
  font-size: 24px;
  margin: 0;
}
@media (min-width: 767px) {
  .explorer h2 {
    display: ruby;
    font-size: 28px;
  }
}
.explorer p {
  font-weight: 300;
  margin: 24px 0;
}
.explorer button {
  padding: 12px 24px;
  font-size: 22px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: 300;
  background-color: #686868;
  transition: transform 200ms;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 60px;
  padding-right: 0px;
  padding-left: 16px;
}
.tuto ol {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
}
@media (min-width: 1024px) {
  .tuto ol {
    flex-direction: row;
  }
}
.tuto li {
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 20px;
  padding: 24px 32px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.tuto li:hover {
  transform: scale(1.02);
  background-color: rgb(241.5, 233.875, 250.625);
}
.tuto li:hover i::before {
  color: #9356dc;
}
.tuto li i.fas {
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 20px;
}

.loader-all {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #fff;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 200ms 2s forwards;
  transform-origin: top;
}
.loader-all .loader {
  width: 200px;
  height: 200px;
  border: 0px solid #011015;
  border-radius: 50%;
  position: absolute;
}
.loader-all .loader:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 0, 255);
  animation: rotate1 3s linear infinite;
}
.loader-all .loader:nth-child(2) {
  border-right-width: 8px;
  border-color: rgb(0, 247, 255);
  animation: rotate2 3s linear infinite;
}
.loader-all .loader:nth-child(3) {
  border-top-width: 8px;
  border-color: rgb(0, 255, 13);
  animation: rotate3 3s linear infinite;
}

.loading {
  color: #000;
}

#homepage .menus {
  background-color: #f6f6f6;
  padding-top: 32px;
  padding-bottom: 70px;
}
#homepage .menus .menus_cards {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 32px;
  row-gap: 32px;
}
#homepage .menus .menus_cards .card {
  background-color: white;
  border-radius: 16px;
  position: relative;
  display: block;
}
#homepage .menus .menus_cards .card.new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: rgb(27.4503816794, 96.5496183206, 79.5114503817);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 20px;
}
#homepage .menus .menus_cards .card__img {
  height: 192px;
  width: 100%;
  object-fit: cover;
  border: 0 solid transparent;
  border-radius: 16px 16px 0 0;
}
#homepage .menus .menus_cards .card__content {
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#homepage .menus .menus_cards .card__content::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 32px;
  right: 16px;
  color: inherit;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .menus .menus_cards .card__content::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  font-size: 32px;
  right: 16px;
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .menus .menus_cards .card__content:hover::after {
  opacity: 1;
  transform: scale(1.02);
}
#homepage .menus .menus_cards .card__content .card__title, #homepage .menus .menus_cards .card__content .card__subtitle {
  margin: 0;
}
@media (min-width: 767px) {
  #homepage .menus .menus_cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;
    row-gap: 48px;
  }
}

footer {
  background-color: #353535;
  padding: 5px 25px;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", "cursive";
}
footer .footer-list > div {
  margin: 5px;
}
footer .fa-utensils {
  padding-right: 7px;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
    padding-right: 48px;
  }
  footer h2 {
    order: 2;
  }
  footer .footer-list {
    display: flex;
    gap: 24px;
    margin-top: 10px;
  }
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
#page-resto header::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  font-size: 32px;
  top: 50%;
  transform: translateY(-50%);
}
#page-resto .banner img {
  width: 100%;
  max-height: 35vh;
  object-fit: cover;
}
#page-resto .menu-resto {
  background-color: #f6f6f6;
  border-radius: 32px 32px 0 0;
  margin-top: -68px;
}
#page-resto .menu-resto .title-header {
  font-family: "Shrikhand", "cursive";
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}
#page-resto .menu-resto .title-header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 32px;
  right: 16px;
  color: inherit;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#page-resto .menu-resto .title-header::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  font-size: 32px;
  right: 16px;
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#page-resto .menu-resto .title-header:hover::after {
  opacity: 1;
  transform: scale(1.02);
}
@media (min-width: 1024px) {
  #page-resto .menu-resto .title-header {
    max-width: 50%;
    margin: auto;
  }
}
#page-resto .menu-resto .menus {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
}
#page-resto .menu-resto .menus .submenu__title {
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
#page-resto .menu-resto .menus .submenu__title::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  height: 5px;
  width: 48px;
  background-color: #99E2D0;
}
#page-resto .menu-resto .menus .menu-item {
  margin: 16px 0;
  display: flex;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  animation: appear 1s;
  animation-fill-mode: both;
}
#page-resto .menu-resto .menus .menu-item:nth-child(1) {
  animation-delay: 200ms;
}
#page-resto .menu-resto .menus .menu-item:nth-child(2) {
  animation-delay: 400ms;
}
#page-resto .menu-resto .menus .menu-item:nth-child(3) {
  animation-delay: 600ms;
}
#page-resto .menu-resto .menus .menu-item:nth-child(4) {
  animation-delay: 800ms;
}
#page-resto .menu-resto .menus .menu-item .item-description {
  padding: 20px 16px;
  overflow: hidden;
}
#page-resto .menu-resto .menus .menu-item h4, #page-resto .menu-resto .menus .menu-item p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#page-resto .menu-resto .menus .menu-item .item-price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 900;
  padding: 16px;
}
#page-resto .menu-resto .menus .menu-item .menu-item-check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background-color: #99E2D0;
  margin-right: -64px;
  width: 64px;
  transition: all 0.5s;
}
#page-resto .menu-resto .menus .menu-item .menu-item-check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 32px;
  border-radius: 16px;
  color: #99E2D0;
  font-size: 20px;
}
#page-resto .menu-resto .menus .menu-item:hover {
  cursor: pointer;
}
#page-resto .menu-resto .menus .menu-item:hover .menu-item-check {
  margin-right: 0;
}
#page-resto .order {
  height: 15vh;
  display: grid;
  place-items: center;
}
#page-resto .order button {
  padding: 12px 24px;
  font-size: 22px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: 300;
  background-color: #686868;
  transition: transform 200ms;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
#page-resto .order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
@media (min-width: 1024px) {
  #page-resto .container {
    max-width: 1280px;
    margin: auto;
    margin-top: -48px;
  }
}

/*# sourceMappingURL=style.css.map */
