@use "./../../utils/mixins.scss";
@use "./../../utils/variables";

.explorer {
    text-align: center;
    background-color: #fafafa;
    padding: 30px;
    & h2 {
        font-size: 24px;
        margin: 0;
        @media (min-width: variables.$breakpoint) {
            display: ruby;
            font-size: 28px;
        }
    }
    & p {
        font-weight: 300;
        margin: 24px 0;
    }
    & button {
        @include mixins.base-button;
    }
}