@use "./../../utils/mixins.scss";
@use "./../../utils/variables";
@use "./../../utils/colors";


.tuto {
    counter-reset: steps;
    margin-bottom: 60px;
    padding-right: 0px; 
    padding-left: 16px;
    & ol {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0;
        padding: 0;
        @media (min-width: variables.$breakpoint-tablette) {
            flex-direction: row;
        }
    }
    & li {
        display: flex;
        position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            display: grid;
            justify-content: center;
            align-items: center;
            background-color: colors.$purple;
            color: white;
            position: absolute;
            left: -1 * variables.$tuto-bullet-height;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50% ;
            width: 2 * variables.$tuto-bullet-height;
            height: 2 * variables.$tuto-bullet-height;
        }
        list-style-type: none;
        background-color: #f6f6f6;
        flex-grow: 1;
        border-radius: 20px;
        padding: 24px 32px;
        @include mixins.box-shadow;
        &:hover {
            @include mixins.transform-zoom;
            background-color: lighten(colors.$purple, 35%);
            i::before {
                color: colors.$purple;
            }
        }
        & i.fas {
            margin-right: 16px;
            color: colors.$lightgrey;
            font-size: 20px;
        }
    }
}

