@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/variables";
@use "../utils/animations";

#page-resto {
    header {
        // icone retour sur les pages des differentes restaurant
        &::before {
            position: absolute;
            @include mixins.font-awesome($font-weight: 900);
            content:"\f060";
            font-size: 32px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    // banniere
    .banner img { 
        width: 100%;
        max-height: 35vh;
        object-fit: cover;
    
    }
    .menu-resto {
        background-color: colors.$lightergrey;
        border-radius: 32px 32px 0 0;
        margin-top: -68px;
        position: relative;
        
        
        .title-header {
            font-family: "Shrikhand", "cursive";
            padding-top: 32px;
            padding-left: 20px;
            @media (min-width: variables.$breakpoint-tablette) {
                max-width: 50%;
                margin: auto;
            }
        }
        .heart {
            position: absolute;
            @include mixins.heart-animated;
            top: 50px;
            right: 16px;
            display: flex;
            align-items: center;
            @media (min-width: variables.$breakpoint-tablette) {
               right: 30%;
            }
        }
        
        .menus {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0 20px;
            & .submenu__title {
                text-transform: uppercase;
                position: relative;
                margin: 0;
                // trait de soulignement
                &::after {
                    content: "";
                    position: absolute;
                    top: 24px;
                    left: 0;
                    height: 5px;
                    width: 48px;
                    background-color: colors.$color-tertiary;
                }
            }
            .menu-item {
                // boucle pour annimation des plats progressivement
                $numberofItems: 4;
                @for $i from 1 through $numberofItems {
                    &:nth-child(#{$i}) {
                        animation-delay: 200ms * $i;
                        
                    }
                }
                margin: 16px 0;
                display: flex;
                background-color: white;
                border-radius: 20px;
                overflow: hidden;
                @include mixins.box-shadow;
                animation: appear 1s;
                animation-fill-mode: both;
                .item-description {
                    padding: 20px 16px;
                    overflow: hidden; 
                }
                h4,p {
                    margin: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .item-price {
                    display: flex;
                    align-items: flex-end;
                    margin-left: auto;
                    font-weight: 900;
                    padding: 16px;
                }
                .menu-item-check {
                    display: grid;
                    place-items: center;
                    flex-shrink: 0; // annuler le retrecissement
                    $button-width: 64px;
                    background-color: colors.$color-tertiary;
                    margin-right: -$button-width;
                    width: $button-width;
                    transition: all .5s;
                    i {
                        display: grid;
                        place-items: center;
                        background: white;
                        aspect-ratio: 1; // ratio entre width & height
                        width: 32px;
                        border-radius: 16px;
                        color: colors.$color-tertiary;
                        font-size: 20px;
                    }
                }
                &:hover {
                    cursor: pointer;
                    .menu-item-check {
                        margin-right: 0;
                    }
                }
            }
        }
        
    }
    // bouton commander
    .order {
        height: 15vh;
        display: grid;
        place-items: center;
        button {
            @include mixins.base-button;
        }
    }
    // media queries pour affichage desktop
    @media (min-width: variables.$breakpoint-tablette) {
        .container {
            max-width: 1280px;
            margin: auto;
            margin-top: -48px;
        }
    }
}



